.logo {
    width: 225px;
    height: 58px;
    /*中央よせ*/
    margin: 0 auto;
    background: url("../images/logo.png") no-repeat;
    /*画像の上にテキストを標示させない*/
    overflow: hidden;
    text-indent: 100%;
    /*折り返さない*/
    white-space: nowrap;
}

.logo a {
    width: 100%;
    display: block;
    height: 100%;
}


/*gloval navi*/

.global-nav {
    margin-top: 15px;
    text-align: center;
}

.global-nav .nav-item {
    /*横一列に並べる*/
    display: inline-block;
    margin: 0 10px;
}


.global-nav .nav-item a{
    /*横一列に並べる 幅を広げる*/
    display: inline-block;
    /*幅 100px*/
    width: 100px;
    /*高さ 30px*/
    height: 30px;
    /*line height をheightと同じ値にする事でテキストを縦方向の中央よせが可能になります*/
    line-height: 30px;
    /*横文字の中央寄せです*/
    text-align: center;
    /*デザインを当てる*/
    border-radius: 8px;
    color:rgb(218, 131, 29);
    font-size: 1.3rem;
    letter-spacing: 1px;
}


/*リンクにホバエフェクトを付ける */

.global-nav .nav-item.active.a,
.global-nav .nav-item a:hover{
    background: rgb(217, 159, 105);
    color: rgb(251, 251, 251);
    /*ふわっと変える*/
    transition: 0.45s;
}
